{% include 'base.html'%}
{% load static %}
{% block content %}

<div class="container">
    <div class ="row topinfo">
        <div class ="col-md-5 ">
            <img class ="profileimage" src="{% static 'images/profilep.jpeg' %}" alt="profile picture" width="300" height="400" class="d-inline-block align-text-top" /> 
        </div>
        <div class ="col-md-7">
            <center> 
            <h1>Wanjugu's Gallery</h1>
            <br></br>
            <h4>Hello there, Welcome to my personal gallery. <h4>
            <br></br>
            <h4 class="quote">“Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever… It remembers little things, long after you have forgotten everything.”</h4>
            <h4 class="quote">– Aaron Siskind</h4>
            </center>
        </div>
    </div>
    <br></br>
    <h1>Context is: {{context}}</h1>
    <center>
        <a href="location/{{value}}">here {{value}}</a>
        <input name="name" value={{ value }}>
        
{%for location in locations%}
<p>{{location.name}}<p>
{%endfor%}
<a href="/location/?location={{location}}">{{location}}</a>



    <button type="button" class="btn btn-link">Kenya</button>

    <button type="button" class="btn btn-link">NewYork</button>
    <button type="button" class="btn btn-link">Seattle</button>
    <button type="button" class="btn btn-link">Dubai</button>
    </center>
    <center>
    <br></br>
<div class="row topinfo">
    {%for imageitem in images%}
    
    

 <div class=" card col-md-5 mx-4 my-2" style="width: 18rem;">
                <img src="{{imageitem.imagepath.url}}" class="card-img-top" alt="{{imageitem.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{imageitem.name}}</h5>
                    <p class="card-text">{{imageitem.description}}</p>
                    <h6>Location: {{imageitem.location.name}} </h6>
                    <h6>Category: {{imageitem.category.name}} </h6>
                </div>
   
    

        
            
       </div>
       

    {% endfor %}
    </div>
    </center>

</div>

{% endblock %}